/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
body {
 background-color: green;
/*  color: white;*/
 font-family: verdana, arial, helvetica, sans-serif;
 font-size: 18px;
 font-color: white;
 line-height: 18px;
	background: url('6SnEo7R.jpg');
 background-repeat: no-repeat;
 background-size: 100%; 
}
.avatar-frame {border: 2px;}
.avatar-frame, .avatar-frame img {
width: 40px;
height: 40px;
-webkit-border-radius: 30px; /* Safari3, Chome */
border-radius: 30px; /* Opera 10.5, IE 9 */
}
label {
  background-color: orange;
  color: black;
  font-weight: bold;
  padding: 2px;
  text-transform: uppercase;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: small;
}

.dropbtn {
 background-color: none;
padding: 0px;
border: none;
cursor: pointer;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #1f1f1f;
color: white;
right: 0;
padding: 10px;
min-width: 200px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown-content p {
text-align: right;
}
#inline {
display: table-row;
align: center;
}
.box {border: 2px;}
.box, .box img {
width: 240px;
height: 54px;
}
.frame {border: 2px;}
.frame, .frame img {
width: 20px;
height: 20px;
}
#filter:hover {
background-color: orangered;
}